In [1]:
import pandas as pd

In [37]:
data = pd.read_csv("train.csv",
                   usecols=["NU_INSCRICAO", "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT", "NU_NOTA_REDACAO"])
weights = {
    "NU_NOTA_CN": 2,
    "NU_NOTA_CH": 1,
    "NU_NOTA_LC": 1.5,
    "NU_NOTA_MT": 3,
    "NU_NOTA_REDACAO": 3
}
total_weight = sum(weights.values())
result = data.iloc[:,1:] * pd.Series(weights)/total_weight
data.iloc[:,1:] = data.iloc[:,1:] * pd.Series(weights)/total_weight

In [38]:
data.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,792b586676d8745219f55b965d08df4a0edf3fef,NaN,NaN,NaN,NaN,NaN
1,12e82808970c7c14208fd72d4a8bc25ee75c0097,104.438095,54.304762,77.314286,155.542857,165.714286
2,ee1f7dc4dcd74fc3e2c1d9d26270bf25ad9514c3,81.828571,46.933333,73.271429,114.942857,148.571429
3,8f6211638580f8751e4ff1f68aef4995e9974468,124.990476,58.095238,82.828571,199.342857,142.857143
4,3c74e27d0970c223229cffa9f5ce93a20775c703,99.295238,49.895238,74.157143,168.000000,137.142857

data.iloc[:,1:]